<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app" style="max-width: 1000px">
    <h1>Kudos</h1>
    <div>
      <i>Connect to network:</i>
      <pre style="background-color: whitesmoke">cmd /C "set HTTP_PORT=3001 && set P2P_PORT=6001 && set PEERS={{info.peers.join()}} && node main.js"</pre>
    </div>
    <form>
      <label for="target">Send kudos to</label>
      <input v-model="target" id="target" type="text" placeholder="Slack user name">
      <button @click.prevent="sendKudos">Send</button>
      <p style="color: red">{{error}}</p>
    </form>
    <h2>Stats</h2>
    <ul>
      <li v-for="[key, value] of Object.entries(stats)" :key="key">
        {{key}}: <img src="http://s3.amazonaws.com/pix.iemoji.com/sams33/0474.png" width="16" height="16" v-for="n in value" />
      </li>
    </ul>
    <h2>Blocks</h2>
    <ul>
      <li v-for="block in blocks" :key="block.data">
        {{block.data}}
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./app.js"></script>
</body>
</html>