<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h1>Kudos</h1>
    <i>Connect to network:</i>
    <pre>cmd /C "set HTTP_PORT=3005 && set P2P_PORT=6005 && set PEERS=ws://{{window.location.hostname}}:{{wsPort}} && node main.js"</pre>
    <form>
      <label for="target">Send kudos to</label>
      <input v-model="target" id="target" type="text" placeholder="Slack user name">
      <button @click.prevent="sendKudos">Send</button>
    </form>
    <h2>Stats</h2>
    <ul>
      <li v-for="[key, value] of Object.entries(stats)" :key="key">
        {{key}}: {{value}}
      </li>
    </ul>
    <h2>Blocks</h2>
    <ul>
      <li v-for="block in blocks" :key="block.data">
        {{block.data}}
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./app.js"></script>
</body>
</html>